html, body{
    height: 100vh;
}
.nav-link{
    font-size: larger;
}
.navbar-brand{
    font-size: x-large;
}
.authimg{
    background: radial-gradient(#273a8c, #00004d);
    background-size: cover;
    background-image: url(https://images.wallpaperscraft.com/image/single/laptop_cup_glasses_114948_1280x720.jpg);
}
.auth{
    color: aliceblue;
    background: rgba(20,20,20,0.7);
    height: 330px;
    width: 500px;
}
.filter-select{
    max-width: 150px;
}
.table{
    white-space:nowrap;
}
.button-back{
    color:lightgrey; 
    font-size:80%; 
    line-height:10px; 
    background:none; 
    border:none;
}
.button-back:hover{
    color:white
}
@media (max-width:1000px){
.actions {
    display: none;
}
}
.sort{
    display:inline-block;
}
@media (min-width: 722px){
    .active input{
        margin-top:23%;
    }
    .active label{
        margin-top:21%;
    }
}
.NonActive{
    --bs-table-accent-bg: rgb(255 0 0 / 15%);
    --bs-table-striped-bg: rgb(255 0 0 / 22%);
    --bs-table-hover-bg: rgb(255 0 0 / 27%);
}
.row_selected{
    --bs-table-accent-bg: rgba(74 255 89 / 15%);
    --bs-table-striped-bg: rgb(74 255 89 / 22%);
    --bs-table-hover-bg: rgb(74 255 89 / 27%);
}
#report .air-datepicker{
    margin-left:5vw;
    width:40vw;
    height:40vw;
    --adp-day-cell-width: 5.65vw;
    --adp-day-cell-height: 5.65vw;
}
#report .air-datepicker.-inline-{
    position: fixed;
}
#report .air-datepicker--navigation{
    font-size:170%;
}
#report .air-datepicker-body--day-names{
    font-size:150%;
}
#report .air-datepicker-body--cells{
    font-size:130%;
}
#report .air-datepicker-cell{
    margin:5px;
    border:1px solid black;
}
.-other-month-{
    border-color: lightgray;
}
.circle{
    position: absolute; 
    border-radius:50%;
    height:10px;
    width:10px;
    top:0;
    right:0;
}
.plan{
    right:11px;
    background-color: rgb(81, 166, 245);
}
.close{
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background:
    linear-gradient(45deg, transparent calc(50% - 3px), red calc(50% - 3px), red calc(50% + 3px), transparent calc(50% + 3px)),
    linear-gradient(-45deg, transparent calc(50% - 3px), red calc(50% - 3px), red calc(50% + 3px), transparent calc(50% + 3px));
    }
.close:hover {
	width: 24px;
    height: 24px;
    border-radius: 100px;
    background:
    linear-gradient(45deg, transparent calc(50% - 3px), #640000 calc(50% - 3px), #640000 calc(50% + 3px), transparent calc(50% + 3px)),
    linear-gradient(-45deg, transparent calc(50% - 3px), #640000 calc(50% - 3px), #640000 calc(50% + 3px), transparent calc(50% + 3px));
    }
#DailyReport{
	opacity: 1;
    width:5vw;
    height:5vw;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.35);
}
#DailyReport_content{
	position: fixed;
    width: 40vw;
    font-size:20px;
}
#DailyReport_content input, #DailyReport_content textarea{
    border: 1px solid grey;
}
#DailyReport_content textarea{
	height: 10vw;
    word-break: break-all;
}
.notification{
    padding: 4px 8px;
    margin: 8px 2px;
    border-radius: 8px;
    color: black;
    background: rgba(255,255,0,0.75);
}
#notifications{
    position: fixed;
    bottom: 0;
    width: 300px;
    z-index: 9999;
}