#calendar{
    opacity: 0;
}
.daterangepicker:after, .daterangepicker:before{
    content: none;
}
@media (min-width: 564px){
    #calendar{
        margin-top: 255px;
    }
}
@media (max-width: 563px){
    #calendar{
        margin-top: 490px;
    }
}