.text-start{
    padding-left:0;
}
.text-end{
    padding-right:0;
}
textarea{
    margin-bottom: 10px;
    resize:none;
    height:150px;
}
.day{
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.date{
    border-bottom: 1px solid black;
}
.clock{
    width:100%;
    aspect-ratio:1;
}
#clock{
    min-height:100%;
    background-image: url(../images/clock.png);
    background-size:100% 100%;
}